/*
   New Perspectives on HTML and CSS
   Additional Cases
   Case Problem 1

   Application Forms Style Sheet
   Author:           Joshua Rodriguez
   Date:             09/17/2014

   Filename:         fstyles.css
   Supporting Files: go.png, stop.png

*/

