/*
   New Perspectives on HTML and CSS
   Additional Cases
   Case 1

   Young Notes Tables Style Sheet
   Author:           Joshua Rodriguez
   Date:             09/17/2014 

   Filename:         tstyles.css
   Supporting Files: none

*/
