/*
   New Perspectives on HTML and CSS
   Additional Cases
   Case Problem 2

   Mobile Styles
   Author: Joshua Rodriguez
   Date:   09/24/2014

   Filename:         cmobile.css
   Supporting Files: 

*/

